<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <h2>Wall</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        <span class="navbar-text">
        </span>
    </div>
</nav>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/wall/post" method="post">
                    {% csrf_token %}
                    <label for="message">Post</label>
                    <textarea class="form-control " rows="5" name="message"></textarea>
                    <button class="btn btn-primary mt-3" type="submit">POST</button>
                </form>
                <div class="row-5">
                    <div class="col ml-10">
                        <div class="mt-3">
                            {%for message in all_messages reversed %}
                            {{message.user.first_name}} {{message.user.last_name}}: {{message.message}}
                            <a class="btn btn-danger mt-3" href="/wall/{{message.id}}/destroy/message"> Delete Post</a>
                        </div><br>
                        <div class=" ml-4 mt-3">
                            {%for comment in all_comments reversed %}
                            {{comment.user.first_name}} {{comment.user.last_name}}: {{comment.comment}}
                            <a class="btn btn-danger  mt-1" href="/wall/{{comment.id}}/destroy/comment"> Delete
                                Comment</a><br>
                        </div><br>
                        {% endfor %}

                        <div class="mt-3">
                            <form action="/wall/comment" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="message_id" value="{{message.id}}">
                                <label class=" col-5 ml-5" for="comment">Comment on this post</label>
                                <textarea class="form-control col-5 ml-5" rows="2" name="comment"></textarea><br>
                                <button class="btn btn-primary ml-5" type="submit">post comment</button>
                            </form>
                        </div>


                        {% endfor %}

                    </div>

                </div>

            </div>
        </div>
    </div>
</body>

</html>